<div class="container-div">
    <div class="createNewTask">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Service Request
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input [(ngModel)]="getUserValue" type="text" class="form-control"
                                placeholder="New Service Request" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-success" type="button" id="button-addon2">Raise Request</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="getUserInput()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="existingServiceRequest">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData">
                    <td>${{item}}</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>